body{
    background-image: url(../img/img_empresa.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
html,body{
    min-height: 100%;
}
table,td,th{
    border-collapse: collapse;
    border: 1px solid black;
}

